@import "tailwindcss";
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* Define custom font utilities for Tailwind v4 */
@layer utilities {
  .font-nunito-sans {
    font-family: var(--font-nunito-sans), sans-serif;
  }

  .font-roboto {
    font-family: var(--font-roboto), sans-serif;
  }

  .font-poppins {
    font-family: var(--font-poppins), sans-serif;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
